@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/colors";

.header {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 999;

	@media only screen and (max-device-width: 750px) and (orientation: portrait),
		only screen and (max-width: 1020px) and (orientation: landscape) {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		width: 3.8rem;
		height: 3.8rem;
		margin-left: 1.5rem;
		margin-top: 1.3rem;
		position: relative;
		cursor: pointer;

		@media only screen and (max-device-width: 750px),
			only screen and (max-width: 1020px) and (orientation: landscape) {
			width: 3.3rem;
            height: 3.3rem;
            margin-left: 2rem;
		}
	}

	.header--name {
		display: inline;
		margin-left: 1.5rem;
		position: absolute;
		font-size: 2.4rem;
		font-weight: 300;
		font-family: $primary-font;
		border-bottom: 1px solid $secondary-text-color;

		@media only screen and (max-width: 400px) {
			font-size: 2rem;
		}

		@media only screen and (min-device-width: 1400px) and (orientation: landscape) {
			margin-left: 2.8rem;
        }
        
        @media only screen and (max-device-width: 750px) and (orientation: portrait),
		only screen and (max-width: 1020px) and (orientation: landscape) {
            position: relative;
            margin-top: 2.5rem;
            margin-left: 0;
        }
	}

	.header-sidenav {
		position: relative;
		color: $primary-text-color;
        margin-right: 1.7rem;
        margin-top: 1.8rem;
        font-size: 1.7rem;

		@media only screen and (min-device-width: 750px) and (orientation: portrait),
			only screen and (min-width: 1020px) and (orientation: landscape) {
			display: none;
		}
	}
}
