<div class="footer-menu">
    <div class="footer-menu__menu-box">
        <div class="menu-box__menu-title">
            <span class="title">H O M E</span>
        </div>
        <div class="menu-box__menu-title">
            <span class="title">A B O U T</span>
        </div>
        <div class="menu-box__menu-title">
            <span class="title">P H O T O G R A P H Y</span>
        </div>
        <div class="menu-box__menu-title">
            <span class="title">B L O G</span>
        </div>
        <div class="menu-box__menu-title">
            <span class="title">C O N T A C T</span>
        </div>
    </div>
</div>