@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";

.introduction {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.introduction--image {
		order: 2;
		right: 0;
		position: fixed;

		.image {
			height: 100vh;
		}

		@media only screen and (min-device-width: 1080px) and (max-width: 1200px),
			only screen and (max-device-width: 1024px),
			only screen and (max-device-width: 1400px) and (orientation: landscape) {
			display: none;
		}
    }

	.introduction--content {
		order: 1;
		height: fit-content;
		width: 40rem;
		border: 1px solid $secondary-color;
		border-radius: 10px;
		padding: 2rem;
		color: $primary-text-color;
		background: rgba($dialog-color, 52%);
		margin: 5rem;
		font-family: $primary-font;
        position: fixed;
        animation: fadeIn ease 1s;

        @media only screen and (min-device-width: 1080px) {
            top: 2rem;
            left: 3rem;
        }
        
		@media only screen and (max-device-width: 1024px),
			only screen and (max-device-width: 1400px) and (orientation: landscape) {
			transform: translateX(-50%);
			left: 50%;
			top: 15%;
			position: relative;
			margin: 0;
            width: calc(100vw - 8rem);
            animation: fadeInMobile ease 1s;
        }
        
        @media only screen and (max-device-width: 1023px) and (orientation: landscape) {
            top:30%;
        }

		.introduction--content__header {
			font-size: 4.5rem;
			font-weight: 700;
			margin: 0;
			margin-bottom: 1rem;
			@media only screen and (max-device-width: 1400px) and (orientation: landscape),
				only screen and (max-device-width: 1024px) and (orientation: portrait) {
				text-align: center;
				font-size: 2.5rem;
				margin-bottom: 0.5rem;
			}

			@media only screen and (max-width: 360px) {
				font-size: 2.3rem;
			}
		}

		.introduction--content__subheader {
			font-size: 2.2rem;
			font-weight: 500;
			margin: 0;
			margin-bottom: 1rem;

			@media only screen and (max-device-width: 1400px) and (orientation: landscape),
				only screen and (max-device-width: 1024px) and (orientation: portrait) {
				text-align: center;
				font-size: 1.2rem;
			}
		}

		.introduction--content__image {
			border: 2px solid $primary-text-color;
			border-radius: 50%;
			overflow: hidden;
			background-color: black;
			width: 10rem;
			height: 10rem;
			position: relative;
			left: 50%;
			transform: translateX(-50%);

			.image {
				width: 75%;
				left: 50%;
				top: 50%;
				position: relative;
				transform: translate(-50%, -50%);
			}

			@media only screen and (min-device-width: 1080px) {
				display: none;
			}

			@media only screen and (max-device-width: 1400px) and (orientation: landscape) {
				display: block;
			}
		}

		.signature {
			width: 17rem;

			@media only screen and (max-device-width: 450px) {
				width: 100%;
			}
		}
    }
    
    .introduction--content::after {
        content: '';
        height: 15rem;
        border-left: 1px solid rgba($secondary-color, 40%);
        position: fixed;
        top: 50%;
        right: 39%;
        transform: translateY(-50%);

        @media only screen and (min-device-width: 1080px) and (max-width: 1200px),
			only screen and (max-device-width: 1024px),
			only screen and (max-device-width: 1400px) and (orientation: landscape) {
			display: none;
		}
    }

    @keyframes fadeIn {
        0% {
          opacity:0;
          left: -1rem;
        }
        100% {
          opacity:1;
          left: 3rem;
        }
      }

      @keyframes fadeInMobile {
        0% {
          opacity:0;
          left: 44%;
        }
        100% {
          opacity:1;
          left: 50%;
        }
      }
}
